.profs-container {
	margin: 150px 2rem 2rem 2rem;

  @media screen and (max-width: 1080px) {
    margin: 80px 1rem 1rem 1rem;
  }
}

.slider-car {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0 4rem;

    @media screen and (max-width: 1080px) {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }
  }
  
  .prof-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    gap: 2rem;
  }
  
  .prof-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: 1080px) {
    .prof-post {
      width: 65%;
      align-items: flex-start;
    }
  }
  .prof-title {
    margin: 10px 0;
    text-wrap: auto;
    width: 300px;

    @media screen and (min-width: 1080px) {
      text-wrap: none;
      width: 100%;
    }
  }
  
  .titre-image-prof {
    position: relative;
    display: inline-block;
  }
  
  @media screen and (min-width: 1080px) {
    .titre-image-prof {
      display: flex;
      justify-content: space-between;
    }
  }
  .titre-image-prof img {
    display: block;
    scale: 0.7;
    width: 500px; /* Temporaire pour pas avoir des images de tailles dégueux*/
  }
  
  .texte-prof {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Hidden by default */
    background-color: rgba(0, 0, 0, 0.5); /* Dark background for better readability */
    color: #fff;
    padding: 1rem 3rem;
    padding-top: 2rem;
    box-sizing: border-box;
    text-align: center;
    opacity: 0; /* Start transparent */
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
    scale: 0.7;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid yellowgreen;

    @media screen and (min-width: 1080px) {
      font-size: 1.1rem;
      border: none;
    }
  }
  
  @media screen and (min-width: 1080px) {
    .texte-prof {
      position: static;
      width: 70%;
      height: auto;
      display: block; /* Make text always visible */
      opacity: 1; /* Fully visible */
      background-color: transparent;
      padding: 0;
      text-align: left;
    }
  }
  .titre-image-prof:hover .texte-prof,
  .titre-image-prof:active .texte-prof {
    display: flex;
    opacity: 1; /* Fully visible when hovered or tapped */
  }
  
  .next, .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 20rem;
    filter: drop-shadow(0 0 1rem yellowgreen);
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellowgreen;

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        border-radius: inherit;
        opacity: 0.6;
        box-shadow: 0 0 1em 0.5em yellowgreen;
        border-radius: 50px;
    }
  }
  
  .next {
    right: 10px;

    @media screen and (max-width: 1080px) {
      right: -19rem;
      top: 60%;
    }
  }

  .prev {
    @media screen and (max-width: 1080px) {
      right: 1rem;
      top: 60%;
    }
  }